<h2>List of ratings</h2>

<p>Ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating %>
      <%= button_to 'delete', rating_path(rating.id), method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }  %>
    </li>
  <% end %>
</ul>

<%= link_to "New rating", new_rating_path %>