<p style="color: green"><%= notice %></p>

<% cache @brewery do %>
  <%= render @brewery %>
<% end %>

<div>
  <%= link_to "Back to breweries", breweries_path %>
  <%= edit_and_destroy_buttons(@brewery) %>
</div>
